<div class="row">
	<div class="col-md-3">
		<ul class="sidebar-list">
			<li class="sidebar-item"><%= link_to "Your Appointments", practices_path, class: "sidebar-link" %></li>
		</ul>
	</div>
	<div class="col-md-9">
		<div class="panel panel-default">
			<div class="panel-heading">
				Listings
			</div>
			<div class="panel-body">
				
				<% @practices.each do |practice| %>
					<div class="row">
						<div class="col-md-2">
						</div>		
						<div class="col-md-7">
							<h4><%= practice.dr_first_name %></h4>
						</div>		
						<div class="col-md-3 right">
							<%= link_to "Update", edit_practice_path(practice), class: "btn btn-primary" %>
						</div>		
					</div>
				<% end %>

			</div>
		</div>
	</div>
</div>